# these are dummy creds so create and update later

SECRET_KEY=django-insecure-w+hy1s*#&)2#hp_mvp=eb%r)4g%jv93e&k4k0h3n0u$(*n-_eb
DEBUG=True

DB_NAME=ecommerce_db
DB_USER=ecommerce_user
DB_PASSWORD=yourpassword
DB_HOST=postgres
DB_PORT=5432

# Frontend
VITE_DJANGO_BASE_URL=http://localhost:8000

ENABLE_MIGRATE=true
ENABLE_COLLECTSTATIC=true
ENABLE_SEED=true

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

CSRF_TRUSTED_ORIGINS=http://localhost,http://localhost:8000
