# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
venv/
env/
.env
*.sqlite3
staticfiles/
media/

# Node / React
node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env.locail
*.tmp
rough/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*.tfplan

interview*

